node_modules
amnesty-app/node_modules
amnesty-app/.next
amnesty-app/out
out
.next
amnesty-app/out
amnesty-app/.next
package-lock.json
out
.next
yarn-error.log
.DS_Store
*.log
*.env
*.env.local
*.env.development